In [6]:
!pip3 install lxml

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/bd/78/56a7c88a57d0d14945472535d0df9fb4bbad7d34ede658ec7961635c790e/lxml-4.6.2-cp36-cp36m-manylinux1_x86_64.whl (5.5MB)
    100% |████████████████████████████████| 5.5MB 309kB/s
Installing collected packages: lxml
Successfully installed lxml-4.6.2

In [1]:
import pandas as pd
import re
import requests
import bs4 as bs

In [2]:
points_table = pd.DataFrame()
for round in range(1,18):
  round_points_table  =pd.read_html(f'https://www.footywire.com/afl/footy/dream_team_round?year=2020&round={round}&p=&s=T')[9]

  round_points_table['Round'] = f'Round {round}'
  points_table = points_table.append(round_points_table)

points_table.columns = points_table.iloc[0]
points_table = points_table.rename({'Round 1':'Round'},axis=1)
points_table = points_table[['Player', 'Team',"2020 R1Score",'Round']]
points_table

0                   Player       Team  2020 R1Score     Round
0                   Player       Team  2020 R1Score   Round 1
1               Jack Viney     Demons           132   Round 1
2              Dylan Shiel    Bombers           122   Round 1
3           Ben Cunnington  Kangaroos           117   Round 1
4               Luke Shuey     Eagles           116   Round 1
..                     ...        ...           ...       ...
392  Brandon Zerk-Thatcher    Bombers            12  Round 17
393           Sam Docherty      Blues            11  Round 17
394            Toby McLean   Bulldogs            10  Round 17
395           Lewis Taylor      Swans             0  Round 17
396           Sean Lemmens       Suns             0  Round 17

[6353 rows x 4 columns]

In [4]:
replace_team_names =   {"Adelaide":"Crows",   "Brisbane":"Lions","Carlton":"Blues",   "Collingwood":"Magpies",   "Essendon":"Bombers",   "Fremantle":"Dockers",   "GWS":"Giants",   "Geelong":"Cats",   "Gold Coast":"Suns",   "Hawthorn":"Hawks",   "Melbourne":"Demons",   "North Melbourne":"Kangaroos",   "Port Adelaide":"Power",   "Richmond":"Tigers",   "St Kilda":"Saints",   "Sydney":"Swans",   "West Coast":"Eagles",   "Western Bulldogs":"Bulldogs"}

In [5]:
def getRounds(r=2020):
  rounds = pd.read_html(f'https://www.footywire.com/afl/footy/ft_match_list?year={r}')[8]
  rounds['Round_Num'] = rounds [0].str.extract(r'(Round \d{1,2})')
  rounds['Round_Num'] = rounds['Round_Num'].ffill()
  rounds['Team 1'] = rounds[1].str.split(' v ',expand=True)[0]
  rounds['Team 2'] = rounds[1].str.split(' v ',expand=True)[1]
  rounds = rounds.dropna(subset=['Team 2'])
  rounds.columns = rounds.iloc[0]
  rounds = rounds[rounds['Home'] != 'Home']
  rounds = rounds[['Round 1',	'Home',	'Away Teams']]
  rounds = rounds.replace(replace_team_names)
  home_teams = rounds['Home'].unique()
  for t in points_table['Team']:
    if t not in home_teams:
      print(t)
      print('are the team mismatches')
  rounds = rounds.append(rounds.rename({'Home': 'Away Teams', 'Away Teams':'Home'},axis=1))
  rounds = rounds.reset_index(drop=True).rename({'Home': 'Team 1', 'Away Teams':'Team 2'},axis=1)
  rounds = rounds.rename({'Round 1': 'Round'},axis=1)
  rounds['Round'] = rounds['Round'].str.slice(start=6)
  return rounds
rounds = getRounds(2020)
nextRounds = getRounds(2021)
nextRounds.to_csv('2021_schedule')

Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches
Team
are the team mismatches

    Round     Team 1    Team 2
0       1     Tigers     Blues
1       1    Magpies  Bulldogs
2       1     Demons   Dockers
3       1      Crows      Cats
4       1      Lions     Swans
..    ...        ...       ...
391    23      Hawks    Tigers
392    23    Dockers    Saints
393    23       Suns     Swans
394    23      Power  Bulldogs
395    23  Kangaroos     Crows

[396 rows x 3 columns]

In [ ]:
Players = points_table.merge(rounds, left_on=['Team', 'Round'], right_on=['Team 1', 'Round'])

In [ ]:
Players = pd.DataFrame()
position = 'RU'
for position in ['RU','DE','FO','MI']:
  f = requests.get(f"https://www.footywire.com/afl/footy/dream_team_season?p={position}").text
  soup = bs.BeautifulSoup(f, 'lxml')
  table = soup.find_all('table')[8] 
  parsed_table = soup.find_all('table')[8] 
  data = [[td.a['href'] if td.find('a') else 
            ''.join(td.stripped_strings)
            for td in row.find_all('td')]
          for row in parsed_table.find_all('tr')]
  data2 = [[''.join(td.stripped_strings)
            for td in row.find_all('td')]
          for row in parsed_table.find_all('tr')]
  df = pd.DataFrame(data[1:], columns=data[0])
  df2 = pd.DataFrame(data2[1:], columns=data2[0])
  player_info = df2.join(df['Player'],rsuffix='_url')
  player_info['Position'] = position
  Players = Players.append(player_info)
Players

    Rank             Player  ...                                 Player_url Position
0      1           Max Gawn  ...              pr-melbourne-demons--max-gawn       RU
1      2      Brodie Grundy  ...      pr-collingwood-magpies--brodie-grundy       RU
2      3     Reilly O'Brien  ...          pr-adelaide-crows--reilly-o-brien       RU
3      4     Todd Goldstein  ...               pr-kangaroos--todd-goldstein       RU
4      5     Rowan Marshall  ...         pr-st-kilda-saints--rowan-marshall       RU
..   ...                ...  ...                                        ...      ...
204  204    Deven Robertson  ...         pr-brisbane-lions--deven-robertson       MI
205  206         Josh Honey  ...               pr-carlton-blues--josh-honey       MI
206  206    Hamish Brayshaw  ...      pr-west-coast-eagles--hamish-brayshaw       MI
207  206  Timothy Broomhead  ...  pr-collingwood-magpies--timothy-broomhead       MI
208  209        Ryan Byrnes  ...            pr-st-kilda-saints--ryan-byrnes       MI

[730 rows x 10 columns]

In [ ]:
def getPlayerScores(pu):
  pu = "https://www.footywire.com/afl/footy/"+pu
  fantasy_points = pd.read_html(pu)
  playerTable = pd.DataFrame()
  for n,g in enumerate(fantasy_points):
    if "AFL Fantasy Stats" in str(g.iloc[0,0]):
      tempplayerTable = fantasy_points[n+1]
      tempplayerTable['Year'] = g.iloc[0,0]
      playerTable = playerTable.append(tempplayerTable)
  playerTable = playerTable.rename({0:"Round",2:'Score'},axis=1)[['Round','Year','Score']]
  playerTable = playerTable[playerTable['Round'].str.len()<=2]
  playerTable['Year'] = playerTable['Year'].str.slice(stop=4)
  return playerTable

In [ ]:
full_player_scores = pd.DataFrame()
for index, row in Players.iterrows():
  playerScore = getPlayerScores(row['Player_url'])
  playerScore['Name'] = row['Player']
  playerScore['Team'] = row['Team']
  playerScore['Position'] = row['Position']
  playerScore['Price'] = int(row['Price'].replace(',', '').replace('$', ''))
  full_player_scores = full_player_scores.append(rounds.merge(playerScore,left_on=['Team 1','Round'], right_on=['Team', 'Round']))
full_player_scores
full_player_scores.to_csv('full_players.csv')

NameError: ignored

/usr/local/lib/python3.6/dist-packages/pulp/apis/coin_api.py:77: UserWarning: Parameter maxSeconds is being depreciated for timeLimit
  warnings.warn("Parameter maxSeconds is being depreciated for timeLimit")

0

/sbin/ldconfig.real: /usr/local/lib/python3.6/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link