In [11]:
import pandas as pd

In [26]:
df = pd.read_csv('solution.csv')

In [27]:
# df.groupby(['Round','Position']).sum()['is_selected']
# len(df[df['Round']==18]['Name'].unique())

In [28]:
df[df['Round']==1]['pl_pos_id'].unique()

array(['R:1_P:Bailey Williams_RU', 'R:1_P:Jonathon Patton_FO',
       'R:1_P:Lin Jong_MI', 'R:1_P:Deven Robertson_MI',
       'R:1_P:Ed Richards_MI', 'R:1_P:Ryan Gardner_DE',
       'R:1_P:Joel Smith_DE', 'R:1_P:Jarrod Brander_MI',
       'R:1_P:Toby Bedford_FO', 'R:1_P:Kyle Langford_FO',
       'R:1_P:Jye Caldwell_MI', 'R:1_P:Isaac Smith_FO',
       'R:1_P:Sam Sturt_FO', 'R:1_P:Adam Tomlinson_DE',
       'R:1_P:Steele Sidebottom_MI', 'R:1_P:Michael Walters_FO',
       'R:1_P:Aiden Bonar_DE', 'R:1_P:Brett Bewley_MI',
       'R:1_P:Jordan Clark_DE', 'R:1_P:Thomas Berry_FO',
       'R:1_P:Rory Lobb_RU', 'R:1_P:Paddy Dow_FO',
       'R:1_P:Dylan Roberton_DE', 'R:1_P:Dustin Martin_MI',
       'R:1_P:Tom Scully_MI', 'R:1_P:Fischer McAsey_DE',
       'R:1_P:Orazio Fantasia_DE', 'R:1_P:Shai Bolton_MI',
       'R:1_P:Laitham Vandermeer_FO', 'R:1_P:Rowan Marshall_RU'],
      dtype=object)

In [29]:
for round_prev in range(1,17):
    round_next = round_prev+1
    rp = df[df['Round']==round_prev].sort_values('Score',ascending=False)
    rn = df[df['Round']==round_next].sort_values('Score',ascending=False)
    print(len(rn[~(rn['Name'].isin(rp['Name']))]))

4
4
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [21]:
rn[~(rn['Name'].isin(rp['Name']))]

Empty DataFrame
Columns: [Unnamed: 0, Round, Team 1, Team 2, Year, Score, Name, Team, Position, Price, id, Round_prev, pl_pos_id, is_selected_x, is_selected_y]
Index: []