In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('solution.csv')

In [17]:
df.groupby(['Round','Position']).sum()['is_selected']
len(df[df['Round']==18]['Name'].unique())

30

In [18]:
df[df['Round']==1]['pl_pos_id'].unique()

array(['R:1_P:Bailey Williams_RU', 'R:1_P:Deven Robertson_MI',
       'R:1_P:Josh Jenkins_RU', 'R:1_P:Kieran Strachan_RU',
       'R:1_P:Rhys Mathieson_MI', 'R:1_P:Thomas Hutchesson_MI',
       'R:1_P:Max Lynch_FO', 'R:1_P:Keegan Brooksby_FO',
       'R:1_P:Ben Jarvis_DE', 'R:1_P:Taylor Duryea_DE',
       'R:1_P:Jack Buckley_DE', 'R:1_P:Will Walker_MI',
       'R:1_P:Lachie Young_MI', 'R:1_P:Jordan Clark_DE',
       'R:1_P:Lin Jong_FO', 'R:1_P:Tom Fullarton_FO',
       'R:1_P:Josh Honey_FO', "R:1_P:Xavier O'Neill_MI",
       'R:1_P:Joel Amartey_FO', 'R:1_P:Brayden Ainsworth_FO',
       'R:1_P:Roarke Smith_MI', 'R:1_P:Luke Foley_DE',
       'R:1_P:Lachlan Sholl_DE', 'R:1_P:Orazio Fantasia_DE',
       'R:1_P:Dustin Martin_MI', 'R:1_P:Paddy Dow_MI',
       'R:1_P:Bailey Scott_MI', 'R:1_P:Isaac Smith_FO',
       'R:1_P:Shai Bolton_FO', 'R:1_P:Adam Tomlinson_DE'], dtype=object)

In [24]:
r1 = df[df['Round']==1].sort_values('Score',ascending=False)
r2 = df[df['Round']==2].sort_values('Score',ascending=False)
r2[~(r2['Name'].isin(r1['Name']))]

,Unnamed: 0,Round,Team 1,Team 2,Year,Score,Name,Team,Position,Price,id,Round_prev,pl_pos_id,is_selected
538,538,2,Cats,Hawks,2020,94.000000,Patrick Dangerfield,Cats,MI,780000,R:2_P:Patrick Dangerfield,1,R:2_P:Patrick Dangerfield_MI,1
528,528,2,Magpies,Tigers,2020,83.000000,Steele Sidebottom,Magpies,MI,841000,R:2_P:Steele Sidebottom,1,R:2_P:Steele Sidebottom_MI,1
418,418,2,Blues,Demons,2020,61.641558,Matthew Kennedy,Blues,MI,570000,R:2_P:Matthew Kennedy,1,R:2_P:Matthew Kennedy_MI,1
379,379,2,Cats,Hawks,2020,50.455263,Zach Guthrie,Cats,DE,338000,R:2_P:Zach Guthrie,1,R:2_P:Zach Guthrie_DE,1
487,487,2,Eagles,Suns,2020,46.000000,Jarrod Brander,Eagles,MI,448000,R:2_P:Jarrod Brander,1,R:2_P:Jarrod Brander_MI,1