In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('full_players_solution.csv')

In [4]:
df

,Unnamed: 0,Name,Price,Team 1,Position,Round,Team 2,Score,id,pl_pos_id,is_selected
0,0,Bayley Fritsch,553000,Demons,FO,12,Lions,63.000000,R:12_P:Bayley Fritsch,R:12_P:Bayley Fritsch_FO,1
1,1,Bayley Fritsch,553000,Demons,FO,13,Magpies,90.000000,R:13_P:Bayley Fritsch,R:13_P:Bayley Fritsch_FO,1
2,2,Bayley Fritsch,553000,Demons,FO,16,Giants,62.333333,R:16_P:Bayley Fritsch,R:16_P:Bayley Fritsch_FO,1
3,3,Bayley Fritsch,553000,Demons,FO,15,Bombers,97.333333,R:15_P:Bayley Fritsch,R:15_P:Bayley Fritsch_FO,1
4,4,Jake Melksham,415000,Demons,FO,1,Dockers,44.400000,R:1_P:Jake Melksham,R:1_P:Jake Melksham_FO,1
...,...,...,...,...,...,...,...,...,...,...,...
685,685,Paddy Dow,323000,Blues,MI,13,_BYE,0.000000,R:13_P:Paddy Dow,R:13_P:Paddy Dow_MI,1
686,686,Dyson Heppell,566000,Bombers,MI,13,_BYE,0.000000,R:13_P:Dyson Heppell,R:13_P:Dyson Heppell_MI,1
687,687,Shane Mumford,466000,Giants,RU,12,_BYE,0.000000,R:12_P:Shane Mumford,R:12_P:Shane Mumford_RU,1
688,688,Phil Davis,344000,Giants,DE,12,_BYE,0.000000,R:12_P:Phil Davis,R:12_P:Phil Davis_DE,1
689,689,Callan Ward,461000,Giants,MI,12,_BYE,0.000000,R:12_P:Callan Ward,R:12_P:Callan Ward_MI,1

In [5]:
len(df[df['Round']==20])
df[df['Round']==1].sort_values('Position')

,Unnamed: 0,Name,Price,Team 1,Position,Round,Team 2,Score,id,pl_pos_id,is_selected
335,335,Jarrod Harbrow,428000,Suns,DE,1,Eagles,62.000000,R:1_P:Jarrod Harbrow,R:1_P:Jarrod Harbrow_DE,1
53,53,Bryce Gibbs,487000,Crows,DE,1,Cats,58.727273,R:1_P:Bryce Gibbs,R:1_P:Bryce Gibbs_DE,1
75,75,Daniel Talia,351000,Crows,DE,1,Cats,22.272727,R:1_P:Daniel Talia,R:1_P:Daniel Talia_DE,1
491,491,Stephen Hill,480000,Dockers,DE,1,Demons,61.909091,R:1_P:Stephen Hill,R:1_P:Stephen Hill_DE,1
169,169,Jarryn Geary,382000,Saints,DE,1,Giants,55.090909,R:1_P:Jarryn Geary,R:1_P:Jarryn Geary_DE,1
187,187,Dylan Roberton,170000,Saints,DE,1,Giants,36.363636,R:1_P:Dylan Roberton,R:1_P:Dylan Roberton_DE,1
406,406,James Frawley,305000,Hawks,DE,1,Bombers,40.818182,R:1_P:James Frawley,R:1_P:James Frawley_DE,1
618,618,Phil Davis,344000,Giants,DE,1,Saints,35.909091,R:1_P:Phil Davis,R:1_P:Phil Davis_DE,1
551,551,Anthony McDonald-Tipungwuti,446000,Bombers,FO,1,Hawks,41.000000,R:1_P:Anthony McDonald-Tipungwuti,R:1_P:Anthony McDonald-Tipungwuti_FO,1
511,511,Eddie Betts,424000,Blues,FO,1,Tigers,66.833333,R:1_P:Eddie Betts,R:1_P:Eddie Betts_FO,1
450,450,Jonathon Patton,191000,Hawks,FO,1,Bombers,42.000000,R:1_P:Jonathon Patton,R:1_P:Jonathon Patton_FO,1
429,429,Shaun Burgoyne,435000,Hawks,FO,1,Bombers,71.090909,R:1_P:Shaun Burgoyne,R:1_P:Shaun Burgoyne_FO,1
351,351,Jack Riewoldt,469000,Tigers,FO,1,Blues,67.416667,R:1_P:Jack Riewoldt,R:1_P:Jack Riewoldt_FO,1
4,4,Jake Melksham,415000,Demons,FO,1,Dockers,44.400000,R:1_P:Jake Melksham,R:1_P:Jake Melksham_FO,1
312,312,Steven Motlop,412000,Power,FO,1,Kangaroos,73.363636,R:1_P:Steven Motlop,R:1_P:Steven Motlop_FO,1
251,251,Joshua Kennedy,431000,Eagles,FO,1,Suns,74.090909,R:1_P:Joshua Kennedy,R:1_P:Joshua Kennedy_FO,1
97,97,Taylor Walker,366000,Crows,FO,1,Cats,46.000000,R:1_P:Taylor Walker,R:1_P:Taylor Walker_FO,1
350,350,Noah Anderson,562000,Suns,MI,1,Eagles,73.000000,R:1_P:Noah Anderson,R:1_P:Noah Anderson_MI,1
290,290,Mark Hutchings,308000,Eagles,MI,1,Suns,14.444444,R:1_P:Mark Hutchings,R:1_P:Mark Hutchings_MI,1
268,268,Jack Redden,554000,Eagles,MI,1,Suns,82.454545,R:1_P:Jack Redden,R:1_P:Jack Redden_MI,1
267,267,Luke Shuey,657000,Eagles,MI,1,Suns,102.181818,R:1_P:Luke Shuey,R:1_P:Luke Shuey_MI,1
472,472,Tom Scully,443000,Hawks,MI,1,Bombers,57.818182,R:1_P:Tom Scully,R:1_P:Tom Scully_MI,1
119,119,Ben Cunnington,503000,Kangaroos,MI,1,Power,61.727273,R:1_P:Ben Cunnington,R:1_P:Ben Cunnington_MI,1
531,531,Paddy Dow,323000,Blues,MI,1,Tigers,37.750000,R:1_P:Paddy Dow,R:1_P:Paddy Dow_MI,1
574,574,Dyson Heppell,566000,Bombers,MI,1,Hawks,80.555556,R:1_P:Dyson Heppell,R:1_P:Dyson Heppell_MI,1
315,315,Sam Powell-Pepper,558000,Power,MI,1,Kangaroos,80.250000,R:1_P:Sam Powell-Pepper,R:1_P:Sam Powell-Pepper_MI,1
640,640,Callan Ward,461000,Giants,MI,1,Saints,74.818182,R:1_P:Callan Ward,R:1_P:Callan Ward_MI,1
384,384,Ben McEvoy,477000,Hawks,RU,1,Bombers,54.181818,R:1_P:Ben McEvoy,R:1_P:Ben McEvoy_RU,1
145,145,Patrick Ryder,575000,Saints,RU,1,Giants,62.600000,R:1_P:Patrick Ryder,R:1_P:Patrick Ryder_RU,1
596,596,Shane Mumford,466000,Giants,RU,1,Saints,66.400000,R:1_P:Shane Mumford,R:1_P:Shane Mumford_RU,1

In [ ]:
df[df['Round']==1].sort_values('Position').to_csv('Round_one_selection.csv')

In [14]:
for round_prev in range(1,max(df['Round'])-1):
    round_next = round_prev+1
    rp = df[df['Round']==round_prev].sort_values('Score',ascending=False)
    rn = df[df['Round']==round_next].sort_values('Score',ascending=False)
    assert len(rn[~(rn['Name'].isin(rp['Name']))])<=2
    assert list(df[df['Round']==round_prev][['id']].duplicated().unique())==[False]
    # print(len(rn[~(rn['Name'].isin(rp['Name']))]))

In [7]:
rn[~(rn['Name'].isin(rp['Name']))]

,Unnamed: 0,Name,Price,Team 1,Position,Round,Team 2,Score,id,pl_pos_id,is_selected
159,159,Callum Wilkie,459000,Saints,DE,17,Lions,59.000000,R:17_P:Callum Wilkie,R:17_P:Callum Wilkie_DE,1
256,256,Joshua Kennedy,431000,Eagles,FO,17,Kangaroos,54.909091,R:17_P:Joshua Kennedy,R:17_P:Joshua Kennedy_FO,1