In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('full_players_solution.csv')

In [3]:
df

,Unnamed: 0,Name,Price,Team 1,Position,Round,Team 2,Date,Score,id,pl_pos_id,is_selected
0,0,Jay Lockhart,363000,Demons,DE,18,Hawks,Sat 17 Jul 12:00pm,61.500000,R:18_P:Jay Lockhart,R:18_P:Jay Lockhart_DE,1
1,1,Neville Jetta,285000,Demons,DE,1,Dockers,Sat 20 Mar 1:45pm,24.363636,R:1_P:Neville Jetta,R:1_P:Neville Jetta_DE,1
2,2,Neville Jetta,285000,Demons,DE,4,Cats,Sun 11 Apr 3:20pm,21.181818,R:4_P:Neville Jetta,R:4_P:Neville Jetta_DE,1
3,3,Neville Jetta,285000,Demons,DE,6,Tigers,Sat 24 Apr 7:25pm,22.454545,R:6_P:Neville Jetta,R:6_P:Neville Jetta_DE,1
4,4,Neville Jetta,285000,Demons,DE,8,Swans,Sat 8 May 12:00pm,27.727273,R:8_P:Neville Jetta,R:8_P:Neville Jetta_DE,1
...,...,...,...,...,...,...,...,...,...,...,...,...
685,685,Eddie Betts,424000,Blues,FO,13,_BYE,NaN,0.000000,R:13_P:Eddie Betts,R:13_P:Eddie Betts_FO,1
686,686,Lochie O'Brien,304000,Blues,MI,13,_BYE,NaN,0.000000,R:13_P:Lochie O'Brien,R:13_P:Lochie O'Brien_MI,1
687,687,Paddy Dow,323000,Blues,MI,13,_BYE,NaN,0.000000,R:13_P:Paddy Dow,R:13_P:Paddy Dow_MI,1
688,688,Sam Taylor,276000,Giants,DE,12,_BYE,NaN,0.000000,R:12_P:Sam Taylor,R:12_P:Sam Taylor_DE,1
689,689,Callan Ward,461000,Giants,MI,12,_BYE,NaN,0.000000,R:12_P:Callan Ward,R:12_P:Callan Ward_MI,1

In [11]:
df[df['Round']==2].sort_values('Name')

,Unnamed: 0,Name,Price,Team 1,Position,Round,Team 2,Date,Score,id,pl_pos_id,is_selected
383,383,Ben McEvoy,477000,Hawks,DE,2,Tigers,Sun 28 Mar 1:10pm,65.545455,R:2_P:Ben McEvoy,R:2_P:Ben McEvoy_DE,1
64,64,Bryce Gibbs,487000,Crows,DE,2,Swans,Sat 27 Mar 1:45pm,95.250000,R:2_P:Bryce Gibbs,R:2_P:Bryce Gibbs_DE,1
653,653,Callan Ward,461000,Giants,MI,2,Dockers,Sun 28 Mar 3:10pm,73.818182,R:2_P:Callan Ward,R:2_P:Callan Ward_MI,1
331,331,Connor Budarick,357000,Suns,DE,2,Kangaroos,Sat 27 Mar 7:10pm,41.000000,R:2_P:Connor Budarick,R:2_P:Connor Budarick_DE,1
158,158,Dylan Roberton,170000,Saints,DE,2,Demons,Sat 27 Mar 7:25pm,46.454545,R:2_P:Dylan Roberton,R:2_P:Dylan Roberton_DE,1
597,597,Dyson Heppell,566000,Bombers,MI,2,Power,Sat 27 Mar 4:05pm,72.777778,R:2_P:Dyson Heppell,R:2_P:Dyson Heppell_MI,1
506,506,Eddie Betts,424000,Blues,FO,2,Magpies,Thu 25 Mar 7:20pm,50.363636,R:2_P:Eddie Betts,R:2_P:Eddie Betts_FO,1
287,287,Jack Redden,554000,Eagles,MI,2,Bulldogs,Sun 28 Mar 3:20pm,70.454545,R:2_P:Jack Redden,R:2_P:Jack Redden_MI,1
345,345,Jack Riewoldt,469000,Tigers,FO,2,Hawks,Sun 28 Mar 1:10pm,69.636364,R:2_P:Jack Riewoldt,R:2_P:Jack Riewoldt_FO,1
387,387,James Frawley,305000,Hawks,DE,2,Tigers,Sun 28 Mar 1:10pm,51.181818,R:2_P:James Frawley,R:2_P:James Frawley_DE,1
309,309,Jarrod Harbrow,428000,Suns,DE,2,Kangaroos,Sat 27 Mar 7:10pm,58.181818,R:2_P:Jarrod Harbrow,R:2_P:Jarrod Harbrow_DE,1
197,197,Joel Selwood,596000,Cats,MI,2,Lions,Fri 26 Mar 7:20pm,94.136364,R:2_P:Joel Selwood,R:2_P:Joel Selwood_MI,1
427,427,Jonathon Patton,191000,Hawks,FO,2,Tigers,Sun 28 Mar 1:10pm,31.000000,R:2_P:Jonathon Patton,R:2_P:Jonathon Patton_FO,1
245,245,Joshua Kennedy,431000,Eagles,FO,2,Bulldogs,Sun 28 Mar 3:20pm,49.909091,R:2_P:Joshua Kennedy,R:2_P:Joshua Kennedy_FO,1
526,526,Lochie O'Brien,304000,Blues,MI,2,Magpies,Thu 25 Mar 7:20pm,15.333333,R:2_P:Lochie O'Brien,R:2_P:Lochie O'Brien_MI,1
263,263,Mark Hutchings,308000,Eagles,FO,2,Bulldogs,Sun 28 Mar 3:20pm,47.000000,R:2_P:Mark Hutchings,R:2_P:Mark Hutchings_FO,1
476,476,Minairo Frederick,292000,Dockers,FO,2,Giants,Sun 28 Mar 3:10pm,0.000000,R:2_P:Minairo Frederick,R:2_P:Minairo Frederick_FO,1
12,12,Neville Jetta,285000,Demons,DE,2,Saints,Sat 27 Mar 7:25pm,18.454545,R:2_P:Neville Jetta,R:2_P:Neville Jetta_DE,1
548,548,Paddy Dow,323000,Blues,MI,2,Magpies,Thu 25 Mar 7:20pm,34.333333,R:2_P:Paddy Dow,R:2_P:Paddy Dow_MI,1
106,106,Rory Sloane,580000,Crows,MI,2,Swans,Sat 27 Mar 1:45pm,84.583333,R:2_P:Rory Sloane,R:2_P:Rory Sloane_MI,1
301,301,Sam Powell-Pepper,558000,Power,MI,2,Bombers,Sat 27 Mar 4:05pm,74.000000,R:2_P:Sam Powell-Pepper,R:2_P:Sam Powell-Pepper_MI,1
631,631,Sam Taylor,276000,Giants,DE,2,Dockers,Sun 28 Mar 3:10pm,8.666667,R:2_P:Sam Taylor,R:2_P:Sam Taylor_DE,1
612,612,Shane Mumford,466000,Giants,RU,2,Dockers,Sun 28 Mar 3:10pm,55.600000,R:2_P:Shane Mumford,R:2_P:Shane Mumford_RU,1
409,409,Shaun Burgoyne,435000,Hawks,FO,2,Tigers,Sun 28 Mar 1:10pm,60.090909,R:2_P:Shaun Burgoyne,R:2_P:Shaun Burgoyne_FO,1
298,298,Steven Motlop,412000,Power,FO,2,Bombers,Sat 27 Mar 4:05pm,58.000000,R:2_P:Steven Motlop,R:2_P:Steven Motlop_FO,1
86,86,Taylor Walker,366000,Crows,FO,2,Swans,Sat 27 Mar 1:45pm,54.500000,R:2_P:Taylor Walker,R:2_P:Taylor Walker_FO,1
121,121,Todd Goldstein,760000,Kangaroos,RU,2,Suns,Sat 27 Mar 7:10pm,92.636364,R:2_P:Todd Goldstein,R:2_P:Todd Goldstein_RU,1
229,229,Tom Hickey,418000,Eagles,RU,2,Bulldogs,Sun 28 Mar 3:20pm,32.300000,R:2_P:Tom Hickey,R:2_P:Tom Hickey_RU,1
451,451,Tom Scully,443000,Hawks,MI,2,Tigers,Sun 28 Mar 1:10pm,61.000000,R:2_P:Tom Scully,R:2_P:Tom Scully_MI,1
362,362,Trent Cotchin,634000,Tigers,MI,2,Hawks,Sun 28 Mar 1:10pm,94.181818,R:2_P:Trent Cotchin,R:2_P:Trent Cotchin_MI,1

In [5]:
# df[df['Round']==1].sort_values('Position').to_csv('previous_round_selection/Round_two_selection.csv')

In [6]:
df_1 = pd.read_csv('previous_round_selection/Round_one_selection.csv')

In [8]:
df_1.sort_values('Name')

,Unnamed: 0,Unnamed: 0.1,Name,Price,Team 1,Position,Round,Team 2,Score,id,pl_pos_id,is_selected
2,384,384,Ben McEvoy,477000,Hawks,DE,1,Bombers,54.181818,R:1_P:Ben McEvoy,R:1_P:Ben McEvoy_DE,1
6,53,53,Bryce Gibbs,487000,Crows,DE,1,Cats,58.727273,R:1_P:Bryce Gibbs,R:1_P:Bryce Gibbs_DE,1
26,642,642,Callan Ward,461000,Giants,MI,1,Saints,74.818182,R:1_P:Callan Ward,R:1_P:Callan Ward_MI,1
5,332,332,Connor Budarick,357000,Suns,DE,1,Eagles,63.000000,R:1_P:Connor Budarick,R:1_P:Connor Budarick_DE,1
7,169,169,Dylan Roberton,170000,Saints,DE,1,Giants,36.363636,R:1_P:Dylan Roberton,R:1_P:Dylan Roberton_DE,1
25,587,587,Dyson Heppell,566000,Bombers,MI,1,Hawks,80.555556,R:1_P:Dyson Heppell,R:1_P:Dyson Heppell_MI,1
9,515,515,Eddie Betts,424000,Blues,FO,1,Tigers,66.833333,R:1_P:Eddie Betts,R:1_P:Eddie Betts_FO,1
19,276,276,Jack Redden,554000,Eagles,MI,1,Suns,82.454545,R:1_P:Jack Redden,R:1_P:Jack Redden_MI,1
13,334,334,Jack Riewoldt,469000,Tigers,FO,1,Blues,67.416667,R:1_P:Jack Riewoldt,R:1_P:Jack Riewoldt_FO,1
1,398,398,James Frawley,305000,Hawks,DE,1,Bombers,40.818182,R:1_P:James Frawley,R:1_P:James Frawley_DE,1
4,320,320,Jarrod Harbrow,428000,Suns,DE,1,Eagles,62.000000,R:1_P:Jarrod Harbrow,R:1_P:Jarrod Harbrow_DE,1
11,438,438,Jonathon Patton,191000,Hawks,FO,1,Bombers,42.000000,R:1_P:Jonathon Patton,R:1_P:Jonathon Patton_FO,1
8,240,240,Joshua Kennedy,431000,Eagles,FO,1,Suns,74.090909,R:1_P:Joshua Kennedy,R:1_P:Joshua Kennedy_FO,1
23,537,537,Lochie O'Brien,304000,Blues,MI,1,Tigers,0.000000,R:1_P:Lochie O'Brien,R:1_P:Lochie O'Brien_MI,1
20,275,275,Luke Shuey,657000,Eagles,MI,1,Suns,102.181818,R:1_P:Luke Shuey,R:1_P:Luke Shuey_MI,1
16,252,252,Mark Hutchings,308000,Eagles,FO,1,Suns,14.444444,R:1_P:Mark Hutchings,R:1_P:Mark Hutchings_FO,1
10,484,484,Minairo Frederick,292000,Dockers,FO,1,Demons,31.000000,R:1_P:Minairo Frederick,R:1_P:Minairo Frederick_FO,1
0,1,1,Neville Jetta,285000,Demons,DE,1,Dockers,24.363636,R:1_P:Neville Jetta,R:1_P:Neville Jetta_DE,1
24,559,559,Paddy Dow,323000,Blues,MI,1,Tigers,37.750000,R:1_P:Paddy Dow,R:1_P:Paddy Dow_MI,1
17,302,302,Sam Powell-Pepper,558000,Power,MI,1,Kangaroos,80.250000,R:1_P:Sam Powell-Pepper,R:1_P:Sam Powell-Pepper_MI,1
3,620,620,Sam Taylor,276000,Giants,DE,1,Saints,23.666667,R:1_P:Sam Taylor,R:1_P:Sam Taylor_DE,1
28,607,607,Shane Mumford,466000,Giants,RU,1,Saints,66.400000,R:1_P:Shane Mumford,R:1_P:Shane Mumford_RU,1
12,418,418,Shaun Burgoyne,435000,Hawks,FO,1,Bombers,71.090909,R:1_P:Shaun Burgoyne,R:1_P:Shaun Burgoyne_FO,1
15,299,299,Steven Motlop,412000,Power,FO,1,Kangaroos,73.363636,R:1_P:Steven Motlop,R:1_P:Steven Motlop_FO,1
14,75,75,Taylor Walker,366000,Crows,FO,1,Cats,46.000000,R:1_P:Taylor Walker,R:1_P:Taylor Walker_FO,1
22,274,274,Tim Kelly,730000,Eagles,MI,1,Suns,107.666667,R:1_P:Tim Kelly,R:1_P:Tim Kelly_MI,1
29,117,117,Todd Goldstein,760000,Kangaroos,RU,1,Power,96.545455,R:1_P:Todd Goldstein,R:1_P:Todd Goldstein_RU,1
27,218,218,Tom Hickey,418000,Eagles,RU,1,Suns,39.900000,R:1_P:Tom Hickey,R:1_P:Tom Hickey_RU,1
21,457,457,Tom Scully,443000,Hawks,MI,1,Bombers,57.818182,R:1_P:Tom Scully,R:1_P:Tom Scully_MI,1
18,359,359,Trent Cotchin,634000,Tigers,MI,1,Blues,82.333333,R:1_P:Trent Cotchin,R:1_P:Trent Cotchin_MI,1

In [14]:
for round_prev in range(1,max(df['Round'])-1):
    round_next = round_prev+1
    rp = df[df['Round']==round_prev].sort_values('Score',ascending=False)
    rn = df[df['Round']==round_next].sort_values('Score',ascending=False)
    assert len(rn[~(rn['Name'].isin(rp['Name']))])<=2
    assert list(df[df['Round']==round_prev][['id']].duplicated().unique())==[False]
    # print(len(rn[~(rn['Name'].isin(rp['Name']))]))

In [13]:
rp = df[df['Round']==1].sort_values('Score',ascending=False)
rn = df[df['Round']==2].sort_values('Score',ascending=False)
rp[~(rp['Name'].isin(rn['Name']))]

,Unnamed: 0,Name,Price,Team 1,Position,Round,Team 2,Date,Score,id,pl_pos_id,is_selected
274,274,Tim Kelly,730000,Eagles,MI,1,Suns,Sun 21 Mar 3:10pm,107.666667,R:1_P:Tim Kelly,R:1_P:Tim Kelly_MI,1
275,275,Luke Shuey,657000,Eagles,MI,1,Suns,Sun 21 Mar 3:10pm,102.181818,R:1_P:Luke Shuey,R:1_P:Luke Shuey_MI,1

In [14]:
rn[~(rn['Name'].isin(rp['Name']))]

,Unnamed: 0,Name,Price,Team 1,Position,Round,Team 2,Date,Score,id,pl_pos_id,is_selected
197,197,Joel Selwood,596000,Cats,MI,2,Lions,Fri 26 Mar 7:20pm,94.136364,R:2_P:Joel Selwood,R:2_P:Joel Selwood_MI,1
106,106,Rory Sloane,580000,Crows,MI,2,Swans,Sat 27 Mar 1:45pm,84.583333,R:2_P:Rory Sloane,R:2_P:Rory Sloane_MI,1